.payment {
    &__info {
        &-title {
            color: #5c5c66;
            font-size: 15px;
            font-weight: 300;
        }

        &-input {
            margin-top: 5px;
            width: 100%;
            padding: 12px 16px;
            border-radius: 5px;
            border: 1px solid #cfcfcf;
            color: #2b2a31;
            font-weight: 400;
            transition: 0.2s;
            font-size: 18px;

            &:focus {
                border-color: #9eaab6;
                -webkit-box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 15px -12px rgba(0, 0, 0, 0.75);
            }

            &--has-error {
                border-color: rgb(242, 134, 134) !important;
            }
        }
    }
}
