.payment {
    &__info {
        &-title {
            color: #69686d;
            font-size: 14px;
            font-weight: 200;
        }

        &-input {
            margin-top: 5px;
            width: 100%;
            padding: 10px 12px;
            border-radius: 10px;
            border: 1px solid #cfcfcf;
            color: #2b2a31;
            font-weight: 400;
            transition: 0.2s;

            &:focus {
                border-color: #9b9b9b;
            }
        }
    }
}
